pandas
langgraph
langchain
langchain-core
langchain-ollama
langchain-community
langchain-text-splitters
chromadb
langchain-chroma
python-dotenv
pydantic
streamlit
sqlalchemy
pymysql
ollama
neo4j
psycopg2-binary